body {
  background: rgb(150, 195, 255);
  background: linear-gradient(0deg, rgba(150, 195, 255, 1) 0%, rgba(36, 52, 205, 1) 100%);
}

/*login.ejs*/
.container-login {
  background-color: white;
  width: 250px;
  padding: 20px;

}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.btn-custom{
  background-color: #2434cd;
  color: white;
}

.btn-increment{
  background-color: #2434cd;
  color: white;
  margin-left: 10px;
}

.h1-custom{
  font-size:70px;
}
